body {
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: border-box;
    overflow: hidden;
}
.container {
    max-width: 48rem;
    margin: 0 auto;
}
textarea {
    line-height: inherit;
    font-weight: inherit;
    font-size: 20px;
    width: 100%;
    height: 100vh;
    padding: 4rem 2rem 2rem 2rem;
    border: none;
    outline: none;
    resize: none;
    caret-color: rgb(0,122,255);
    background-color: inherit;
    box-sizing: border-box;
}

#notes {
    margin-top: 2rem;
}

.progress-wrap {
    height: 12px;
    width: 100%;
    background-color: #E2D7CE;
    position: relative;
    border-radius: 20px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    background-color: #C9AF99;
    position: absolute;
    height: 100%;
    transition-delay: 1s;
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.progress-text {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
    font-weight: 500;
}

.progress-block {
    position: absolute;
    width: 320px;
    padding: 1.5rem;
    bottom: 0;
    right: 0;
    opacity: 0.25;
    transition: 0.2s ease-in-out;
}

.progress-block:hover {
    opacity: 1;
}

footer {
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
}

footer a {
    text-decoration: none;
    color: inherit;
    opacity: 0.2;
    transition: 0.4s ease-in-out;
}

footer a:hover {
    opacity: 0.8;
}