body {
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    box-sizing: border-box;
    overflow: hidden;
}
.container {
    max-width: 48rem;
    margin: 0 auto;
}
textarea {
    line-height: inherit;
    font-weight: inherit;
    font-size: 20px;
    width: 100%;
    height: 100vh;
    padding: 4rem 2rem 2rem 2rem;
    border: none;
    outline: none;
    resize: none;
    caret-color: rgb(0,122,255);
    background-color: inherit;
    box-sizing: border-box;
}